:root {
  --ff-main: "Overpass", sans-serif;
  --ff-sec: "Ubuntu", sans-serif;
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --very-light-red: #ff8f70;
  --light-red: #ff3d54;
  --very-dark-gray-blue: #2c2d3f;
  --very-dark-desaturated-blue: #3f4164;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ==========
    Header 
========== */
.header {
  font-family: var(--ff-main);
}
.header__nav__ul {
  color: var(--white);
  font-family: var(--ff-sec);
  font-weight: 500;
}
.header__nav__ul__item__title {
  opacity: 0.8;
}
.header__nav__ul__item__acc__item {
  color: black;
  font-weight: 300;
  font-size: 1rem;
}
.header__nav__log__login {
  opacity: 0.8;
  font-weight: 500;
  font-family: var(--ff-sec);
  color: var(--white);
}
.header__nav__log__signup {
  color: var(--light-red);
  font-weight: 700;
}
.header__nav__log__signup:hover {
  color: var(--white);
}
.header__title {
  color: var(--white);
  font-size: 2.1rem;
  font-weight: 600;
}
.header__subtitle {
  color: var(--white);
  font-size: 1.1rem;
}
.header__start {
  color: var(--light-red);
  font-weight: 700;
}
.header__start:hover {
  color: var(--white);
}
.header__learn {
  color: var(--white);
  font-weight: 700;
}
.header__learn:hover {
  color: var(--light-red);
}

/* ==========
    Main 
========== */
.main {
  font-family: var(--ff-main);
}
.main__title {
  color: var(--very-dark-blue);
  font-size: 1.75rem;
  line-height: 1.1;
}
.main__content {
  color: var(--very-dark-grayish-blue);
  font-size: 1rem;
  line-height: 1.6;
}

/* ==========
    State 
========== */
.state__container {
  color: var(--white);
  font-family: var(--ff-main);
}
.state__container__title {
  font-size: 2.25rem;
}
.state__container__content {
  font-size: 1.05rem;
  line-height: 1.6;
}

/* ==========
    Free 
========== */
.free {
  font-family: var(--ff-main);
}
.free__container {
  line-height: 1.6;
}
.free__container__title {
  color: var(--very-dark-blue);
  font-size: 1.75rem;
}
.free__container__content {
  color: var(--very-dark-grayish-blue);
}

/* ==========
    Footer 
========== */
.footer {
  color: var(--grayish-blue);
  font-family: var(--ff-main);
}
.footer__container__list__title {
  color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
}
.footer__container__list__item {
  font-size: 1rem;
}

/* ==========
  Components 
========== */
.mobile__nav__ul {
  font-family: var(--ff-main);
}
.mobile__nav__ul__item__title {
  color: var(--very-dark-blue);
  font-weight: 600;
  font-size: 1.15rem;
  cursor: pointer;
}
.mobile__nav__ul__item__title:hover {
  text-decoration: underline;
}
.mobile__nav__ul__item__acc {
  color: var(--very-dark-grayish-blue);
  font-weight: 600;
}
.mobile__nav__ul__item__acc__item {
  font-size: 1.1rem;
  cursor: pointer;
}
.mobile__nav__ul__item__acc__item:hover {
  text-decoration: underline;
}
.mobile__nav__log__login, .mobile__nav__log__signup {
  font-family: var(--ff-main);
  font-weight: 600;
  font-size: 1.1rem;
}
.mobile__nav__log__login {
  color: var(--very-dark-blue);
}
.mobile__nav__log__signup {
  color: var(--white);
}
.mobile__nav__log__signup:hover {
  color: var(--light-red);
}

@media (min-width: 820px) {
  .header__title {
    font-size: 3.25rem;
  }

  .state__container__content {
    line-height: 1.6;
    font-size: 1rem;
  }
}
@media (min-width: 1300px) {
  .main__title {
    font-size: 2.5rem;
  }
  .main .subtitle {
    font-size: 1.75rem;
  }
}
/* ==========
    Header 
========== */
.header {
  background: linear-gradient(180deg, #ff8f70 5%, #ff3d54 85%);
  height: 600px;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 0 7rem;
  padding: 4rem 2rem;
  z-index: 0;
}
.header__nav {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.header__nav__hamburguer {
  margin-left: auto;
  cursor: pointer;
}
.header__nav__ul {
  display: none;
}
.header__nav__log {
  display: none;
}
.header__title {
  text-align: center;
  margin-top: 5rem;
}
.header__subtitle {
  margin-top: 1rem;
  text-align: center;
}
.header .flex {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.header__start, .header__learn {
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 0 0.65rem;
  cursor: pointer;
  width: 135px;
  transition: 0.1s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.header__start {
  background-color: var(--white);
}
.header__start:hover {
  background-color: var(--very-light-red);
}
.header__learn {
  background-color: transparent;
  border: 1px solid var(--white);
}
.header__learn:hover {
  background-color: var(--white);
}
.header::before {
  content: url(../images/bg-pattern-intro-mobile.svg);
  position: absolute;
  top: -40%;
  left: -87%;
  z-index: -1;
  opacity: 0.4;
}

@media (min-width: 520px) {
  .header__title {
    margin-top: 7rem;
  }
  .header::before {
    content: url(../images/bg-pattern-intro-desktop.svg);
    position: absolute;
    top: -222%;
    left: -31%;
    z-index: -1;
    opacity: 0.5;
  }
}
@media (min-width: 820px) {
  .header {
    padding: 4rem 5rem;
  }
  .header__nav__hamburguer {
    display: none;
  }
  .header__nav__ul {
    display: flex;
    list-style: none;
    position: relative;
    opacity: 1;
  }
  .header__nav__ul__item {
    margin-left: 1.5rem;
    margin-right: 1rem;
    cursor: pointer;
    line-height: 1;
    position: relative;
    display: flex;
    align-items: center;
  }
  .header__nav__ul__item__title:hover {
    border-bottom: 2px solid var(--white);
    margin-bottom: -2px;
  }
  .header__nav__ul__item__title::before {
    content: url(../images/icon-arrow-light.svg);
    width: 10px;
    height: 7px;
    position: absolute;
    top: -3%;
    left: 110%;
    opacity: 1;
    transition: 0.5s;
  }
  .header__nav__ul__item__title.active::before {
    transform: rotate(-180deg);
    top: 80%;
  }
  .header__nav__ul__item__acc {
    list-style: none;
    padding: 0;
    position: absolute;
    top: 200%;
    left: 0;
    background-color: white;
    border-radius: 0.3rem;
    text-align: left;
    max-height: 0;
    cursor: default;
    overflow: hidden;
    width: 160px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: ease-in 0.2s;
  }
  .header__nav__ul__item__acc__item {
    margin-top: 1.5rem;
    margin-left: 1.5rem;
    cursor: pointer;
  }
  .header__nav__ul__item__acc__item:last-of-type {
    margin-bottom: 1.5rem;
  }
  .header__nav__ul__item__acc__item:hover {
    font-weight: 700;
  }
  .header__nav__log {
    padding-top: 0.22rem;
    display: block;
    margin-left: auto;
  }
  .header__nav__log__login {
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    margin-right: 1rem;
  }
  .header__nav__log__login:hover {
    border-bottom: 2px solid var(--white);
    margin-bottom: -2px;
  }
  .header__nav__log__signup {
    background-color: var(--white);
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 0 0.65rem;
    cursor: pointer;
    width: 135px;
    transition: 0.1s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .header__nav__log__signup:hover {
    background-color: #ff7b86;
  }
  .header__title {
    margin-top: 8rem;
  }
}
/* ==========
    Main 
========== */
.main {
  margin-top: 5rem;
}
.main__title {
  text-align: center;
  padding: 0 2.2rem;
  margin-top: 2rem;
}
.main__img {
  margin: 0 auto;
  margin-top: 2rem;
}
.main__content {
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 2.2rem;
  max-width: 55ch;
}

@media (min-width: 1300px) {
  .main {
    margin: 0;
    height: 1000px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12rem 8rem 12rem;
  }
  .main::before {
    content: url(../images/illustration-editor-desktop.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20%;
    z-index: 2;
  }
  .main__title {
    text-align: center;
    margin-bottom: 8rem;
  }
  .main .subtitle {
    text-align: left;
    margin-bottom: 1rem;
  }
  .main__img {
    display: none;
  }
  .main__content {
    text-align: left;
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 54ch;
    padding-right: 0;
  }
  .main__content:last-child {
    margin-bottom: 8rem;
    width: 52ch;
  }
}
/* ==========
   State 
========== */
.state {
  height: 625px;
  position: relative;
  margin-top: 15rem;
  text-align: center;
}
.state__img {
  position: absolute;
  top: -27%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 375px;
}
.state__container {
  position: relative;
  padding: 0 2.2rem;
  background: linear-gradient(90deg, #2c2d3f 0%, #3f4164 100%);
  height: 625px;
  border-radius: 0 7rem 0 7rem;
  z-index: -2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.state__container::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(/images/bg-pattern-circles.svg);
  background-size: 590px auto;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -40%;
  left: -1%;
  z-index: -1;
}
.state__container__title {
  margin-top: 8rem;
}
.state__container__content {
  margin: 0 auto;
  margin-top: 1rem;
  max-width: 50ch;
}

@media (min-width: 1440px) {
  .state {
    height: 400px;
    margin: 0;
  }
  .state__img {
    top: -15%;
    left: 29%;
    transform: translateX(-50%);
    max-width: 100%;
  }
  .state__container {
    height: 400px;
    background: linear-gradient(90deg, #2c2d3f 0%, #3f4164 100%);
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  .state__container::before {
    top: -51%;
    left: -29%;
    z-index: -1;
    max-width: 100%;
    max-height: 100%;
    transform: scale(2);
  }
  .state__container__title {
    margin: 0;
    margin-right: 9rem;
  }
  .state__container__content {
    width: 58ch;
    margin-right: 8rem;
  }
}
/* ==========
   State 
========== */
.free {
  text-align: center;
  padding: 7rem 0rem 7rem;
}
.free__img {
  margin: 0 auto;
}
.free__container__title {
  margin: 0 auto;
  margin-top: 2rem;
  padding: 0 2.4rem;
  max-width: 42ch;
}
.free__container__content {
  margin: 0 auto;
  margin-top: 1.5rem;
  padding: 0 2.4rem;
  max-width: 55ch;
}

@media (min-width: 1300px) {
  .free {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 8rem;
    position: relative;
    height: 1000px;
  }
  .free::before {
    content: url(../images/illustration-laptop-desktop.svg);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -19%;
  }
  .free__img {
    display: none;
  }
  .free__container {
    text-align: left;
  }
  .free__container__title {
    margin: 0;
    padding: 0;
  }
  .free__container__content {
    margin: 0;
    padding: 0;
    margin-top: 1.5rem;
  }
  .free__container__content:first-of-type {
    margin-bottom: 3rem;
  }
}
.footer {
  background-color: var(--very-dark-black-blue);
  border-radius: 0 7rem 0 0;
  padding: 5rem 0 4rem;
  margin: 0;
  text-align: center;
}
.footer__container__logo {
  margin: 0 auto;
}
.footer__container__list {
  list-style: none;
  padding: 0;
}
.footer__container__list__title {
  margin: 2.5rem 0 1.5rem;
}
.footer__container__list__item {
  margin-top: 0.5rem;
  text-align: center;
  width: fit-content;
  margin: 0.75rem auto;
  line-height: 1;
}
.footer__container__list__item:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 900px) {
  .footer__container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-right: 5rem;
  }
  .footer__container__logo {
    margin: 0;
  }
  .footer__container__list {
    margin: 0;
    text-align: left;
  }
  .footer__container__list__title {
    margin: 0;
    margin-bottom: 2rem;
  }
  .footer__container__list__item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
.body {
  position: relative;
}

.mobile__nav {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: -50%;
  transform: translateX(-50%);
  background-color: var(--white);
  width: 325px;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 1;
  padding: 1.25rem 2rem 0;
  transition: 0.3s ease-in-out;
}
.mobile__nav__ul {
  list-style: none;
  padding: 0;
}
.mobile__nav__ul__item__title {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  transition: 0.3s ease-in-out;
  margin-bottom: 2rem;
}
.mobile__nav__ul__item__title.active {
  opacity: 0.8;
}
.mobile__nav__ul__item__title:last-of-type {
  margin-bottom: 1rem;
}
.mobile__nav__ul__item__title::after {
  content: url(../images/icon-arrow-dark.svg);
  transition: 0.3s ease-in-out;
}
.mobile__nav__ul__item__title.active::after {
  transform: rotate(-180deg);
  align-items: baseline;
  margin-top: 1px;
}
.mobile__nav__ul__item__acc {
  padding: 0;
  overflow: hidden;
  background-color: #efeff1;
  transition: max-height 0.3s ease-in-out;
  min-width: 100%;
  width: 90%;
  border-radius: 0.5rem;
  max-height: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.mobile__nav__ul__item__acc__item {
  list-style: none;
  margin-top: 1rem;
}
.mobile__nav__ul__item__acc__item:last-of-type {
  margin-bottom: 1rem;
}
.mobile__nav__log {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0 2rem;
  border-top: 1px solid lightgray;
}
.mobile__nav__log__login, .mobile__nav__log__signup {
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  width: 135px;
}
.mobile__nav__log__login {
  background-color: transparent;
}
.mobile__nav__log__login:hover {
  text-decoration: underline;
}
.mobile__nav__log__signup {
  background: linear-gradient(180deg, #ff8f70 5%, #ff3d54 85%);
  padding: 0.75rem 0 0.65rem;
}
.mobile__nav__log__signup:hover {
  background: transparent;
  outline: 2px solid var(--light-red);
}

@media (min-width: 820px) {
  .mobile__nav {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
