:root {
  --ff-main: "Overpass", sans-serif;
  --ff-sec: "Ubuntu", sans-serif;
  --light-red: hsl(356, 100%, 66%);
  --very-light-red: hsl(355, 100%, 74%);
  --very-dark-blue: hsl(208, 49%, 24%);
  --white: hsl(0, 0%, 100%);
  --grayish-blue: hsl(240, 2%, 79%);
  --very-dark-grayish-blue: hsl(207, 13%, 34%);
  --very-dark-black-blue: hsl(240, 10%, 16%);
  --very-light-red: #ff8f70;
  --light-red: #ff3d54;
  --very-dark-gray-blue: #2c2d3f;
  --very-dark-desaturated-blue: #3f4164;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* ==========
    Header 
========== */
.header {
  font-family: var(--ff-main);
}
.header__nav__ul {
  color: var(--white);
  font-family: var(--ff-sec);
  font-weight: 500;
  opacity: 0.8;
}
.header__nav__log__login {
  opacity: 0.8;
  font-weight: 500;
  font-family: var(--ff-sec);
  color: var(--white);
}
.header__nav__log__signup {
  color: var(--light-red);
  font-weight: 700;
}
.header__nav__log__signup:hover {
  color: var(--white);
}
.header__title {
  color: var(--white);
  font-size: 2.1rem;
  font-weight: 600;
}
.header__subtitle {
  color: var(--white);
  font-size: 1.1rem;
}
.header__start {
  color: var(--light-red);
  font-weight: 700;
}
.header__start:hover {
  color: var(--white);
}
.header__learn {
  color: var(--white);
  font-weight: 700;
}
.header__learn:hover {
  color: var(--light-red);
}

/* ==========
    Main 
========== */
.main {
  font-family: var(--ff-main);
}
.main__title {
  color: var(--very-dark-blue);
  font-size: 1.75rem;
  line-height: 1.1;
}
.main__content {
  color: var(--very-dark-grayish-blue);
  font-size: 1rem;
  line-height: 1.6;
}

/* ==========
    State 
========== */
.state__container {
  color: var(--white);
  font-family: var(--ff-main);
}
.state__container__title {
  font-size: 2.25rem;
}
.state__container__content {
  font-size: 1.05rem;
  line-height: 1.6;
}

/* ==========
    Free 
========== */
.free {
  font-family: var(--ff-main);
}
.free__title {
  color: var(--very-dark-blue);
  font-size: 1.75rem;
}
.free__content {
  color: var(--very-dark-grayish-blue);
}

/* ==========
    Footer 
========== */
.footer {
  color: var(--grayish-blue);
  font-family: var(--ff-main);
}
.footer__list__title {
  color: var(--white);
  font-weight: 700;
  font-size: 1.2rem;
}
.footer__list__item {
  font-size: 1.15rem;
}

/* ==========
    Header 
========== */
.header {
  background: linear-gradient(180deg, #ff8f70 5%, #ff3d54 85%);
  height: 600px;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 0 7rem;
  padding: 4rem 2rem;
  z-index: 0;
}
.header__nav {
  display: flex;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
}
.header__nav__hamburguer {
  margin-left: auto;
  cursor: pointer;
}
.header__nav__ul {
  display: none;
}
.header__nav__log {
  display: none;
}
.header__title {
  text-align: center;
  margin-top: 5rem;
}
.header__subtitle {
  margin-top: 1rem;
  text-align: center;
}
.header .flex {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.header__start, .header__learn {
  border: none;
  border-radius: 2rem;
  padding: 0.75rem 0 0.65rem;
  cursor: pointer;
  width: 135px;
  transition: 0.1s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.header__start {
  background-color: var(--white);
}
.header__start:hover {
  background-color: #ff7b86;
}
.header__learn {
  background-color: transparent;
  border: 1px solid var(--white);
}
.header__learn:hover {
  background-color: var(--white);
}
.header::before {
  content: url(/images/bg-pattern-intro-mobile.svg);
  position: absolute;
  top: -40%;
  left: -87%;
  z-index: -1;
  opacity: 0.4;
}

@media (min-width: 725px) {
  .header {
    padding: 4rem 5rem;
  }
  .header__nav__hamburguer {
    display: none;
  }
  .header__nav__ul {
    display: flex;
    list-style: none;
  }
  .header__nav__ul__item {
    margin-left: 0.5rem;
    cursor: pointer;
    line-height: 1;
  }
  .header__nav__ul__item:hover {
    border-bottom: 2px solid var(--white);
    margin-bottom: -2px;
  }
  .header__nav__log {
    padding-top: 0.22rem;
    display: block;
    margin-left: auto;
  }
  .header__nav__log__login {
    border: none;
    background-color: transparent;
    cursor: pointer;
    line-height: 1;
    padding: 0;
    margin-right: 1rem;
  }
  .header__nav__log__login:hover {
    border-bottom: 2px solid var(--white);
    margin-bottom: -2px;
  }
  .header__nav__log__signup {
    background-color: var(--white);
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 0 0.65rem;
    cursor: pointer;
    width: 135px;
    transition: 0.1s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .header__nav__log__signup:hover {
    background-color: #ff7b86;
  }
}
/* ==========
    Main 
========== */
.main {
  margin-top: 5rem;
}
.main__title {
  text-align: center;
  padding: 0 2.2rem;
  margin-top: 2rem;
}
.main__img {
  margin: 0 auto;
  margin-top: 2rem;
}
.main__content {
  text-align: center;
  margin: 0 auto;
  margin-top: 1rem;
  padding: 0 2.2rem;
  max-width: 55ch;
}

/* ==========
   State 
========== */
.state {
  height: 625px;
  position: relative;
  margin-top: 15rem;
  text-align: center;
}
.state__img {
  position: absolute;
  top: -27%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 375px;
}
.state__container {
  position: relative;
  padding: 0 2.2rem;
  background: linear-gradient(90deg, #2c2d3f 0%, #3f4164 100%);
  height: 625px;
  border-radius: 0 7rem 0 7rem;
  z-index: -2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.state__container::before {
  content: "";
  height: 100%;
  width: 100%;
  background-image: url(/images/bg-pattern-circles.svg);
  background-size: 590px auto;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: -40%;
  left: -1%;
  z-index: -1;
}
.state__container__title {
  margin-top: 8rem;
}
.state__container__content {
  margin-top: 1.5rem;
}

/* ==========
   State 
========== */
.free {
  text-align: center;
  padding: 7rem 0rem 5rem;
}
.free__img {
  margin: 0 auto;
}
.free__title {
  margin-top: 2rem;
  padding: 0 2.4rem;
}
.free__content {
  margin-top: 1.5rem;
  padding: 0 2.4rem;
}

.footer {
  background-color: var(--very-dark-black-blue);
  border-radius: 0 7rem 0 0;
  padding: 5rem 0 4rem;
  margin: 0;
  text-align: center;
}
.footer__logo {
  margin: 0 auto;
}
.footer__list {
  list-style: none;
  padding: 0;
}
.footer__list__title {
  margin: 2.5rem 0 1.5rem;
}
.footer__list__item {
  margin-top: 0.5rem;
  text-align: center;
  width: fit-content;
  margin: 0.75rem auto;
  line-height: 1;
}
.footer__list__item:hover {
  border-bottom: 2px solid var(--grayish-blue);
  margin-bottom: -2px;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
