/* ==========
    Header 
========== */

.header {
    
    background: linear-gradient(180deg, rgba(255,143,112,1) 5%, rgba(255,61,84,1) 85%);
    height: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 0 7rem;
    padding: 4rem 2rem;
    z-index: 0;

    &__nav {
        display: flex;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;

        &__hamburguer {
            margin-left: auto;
            cursor: pointer;
        }

        &__ul {
            display: none;
        }

        &__log {
            display: none;
        }
    }


    &__title {
        text-align: center;
        margin-top: 5rem;
    }

    &__subtitle {
        margin-top: 1rem;
        text-align: center;
    }

    .flex {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    &__start,
    &__learn {
        border: none;
        border-radius: 2rem;
        padding: .75rem 0 .65rem;
        cursor: pointer;
        width: 135px;

        transition: .1s ease-in-out;

        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    }
    
    &__start {
        background-color: var(--white);

        &:hover {
            background-color: var(--very-light-red);
        }
    }
    
    &__learn {
        background-color: transparent;
        border: 1px solid var(--white);

        &:hover {
            background-color: var(--white);
        }
    }

    &::before {
        content: url(../images/bg-pattern-intro-mobile.svg);
        position: absolute;
        top: -40%;
        left: -87%;
        z-index: -1;
        opacity: .4;
    }


}

@media (min-width: 520px) {
    .header {

        &__title {
            margin-top: 7rem;
        }

        &::before {
            content: url(../images/bg-pattern-intro-desktop.svg);
            position: absolute;
            top: -222%;
            left: -31%;
            z-index: -1;
            opacity: .5;
        }
    }
}

@media (min-width: 820px) {


    .header {
        padding: 4rem 5rem;


        &__nav {

            &__hamburguer {
                display: none;
            } 
            
            &__ul {
                display: flex;
                list-style: none;
                position: relative;
                opacity: 1;

                &__item {
                    margin-left: 1.5rem;
                    margin-right: 1rem;
                    cursor: pointer;
                    line-height: 1;
                    position: relative;
                    display: flex;
                    align-items: center;
  
                    &__title {

                        
                        &:hover {
                            border-bottom: 2px solid var(--white);
                            margin-bottom: -2px;
                        }

                        &::before {
                            content: url(../images/icon-arrow-light.svg);
                            width: 10px;
                            height: 7px;
                            position: absolute;
                            top: -3%;
                            left: 110%;
                            opacity: 1;
    
                            transition: .5s;
                        }

                        &.active::before {
                            transform: rotate(-180deg);
                            top: 80%;
                        }
                    }
                    
                    &__acc {
                        list-style: none;
                        padding: 0;
                        position: absolute;
                        top: 200%;
                        left: 0;
                        background-color: white;
                        border-radius: .3rem;
                        text-align: left;
                        max-height: 0;
                        cursor: default;
                        overflow: hidden;
                        
                        width: 160px;
                        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                        transition: ease-in .2s;

                        
                        &__item {
                            margin-top: 1.5rem;
                            margin-left: 1.5rem;
                            cursor: pointer;

                            &:last-of-type {
                                margin-bottom: 1.5rem;
                            }

                            &:hover {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }

            &__log {
                padding-top: .22rem;
                display: block;
                margin-left: auto;

                &__login {
                    border: none;
                    background-color: transparent;
                    cursor: pointer;
                    line-height: 1;
                    padding: 0;
                    margin-right: 1rem;

                    &:hover {
                        border-bottom: 2px solid var(--white);
                        margin-bottom: -2px;
                    }
                }
                
                &__signup {
                    background-color: var(--white);
                    border: none;
                    border-radius: 2rem;
                    padding: .75rem 0 .65rem;
                    cursor: pointer;
                    width: 135px;
            
                    transition: .1s ease-in-out;

                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

                    &:hover {
                        background-color: #ff7b86;
                    }
                }
            }
        }

        &__title {
            margin-top: 8rem;
        }
    }
}
