/* ==========
    Main 
========== */

.main {

    margin-top: 5rem;
    
    &__title {
        text-align: center;
        padding: 0 2.2rem;
        margin-top: 2rem;
    }
    
    &__img {
        margin: 0 auto;
        margin-top: 2rem;
    }
    
    &__content {
        text-align: center;
        margin: 0 auto;
        margin-top: 1rem;
        padding: 0 2.2rem;
        max-width: 55ch;
    }
}

@media (min-width: 1300px) {
    .main {

        margin: 0;
        height: 1000px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 12rem 8rem 12rem;

        &::before {
            content: url(../images/illustration-editor-desktop.svg);
            position: absolute ;
            top: 50%;
            transform: translateY(-50%);
            right: -17%;
            z-index: 2;
        }

        &__title {
            text-align: center;
            margin-bottom: 8rem;
        }

        .subtitle {
            text-align: left;
            margin-bottom: 1rem;
        }

        &__img {
            display: none;
        }

        &__content {
            text-align: left;
            margin: 0;
            margin-top: 1rem;
            margin-bottom: 3rem;
            width: 54ch;
            padding-right: 0;
        }

        &__content:last-child {
            margin-bottom: 8rem;
            width: 52ch;
        }
    }
}

@media (min-width: 1500px) {

    .main {
        padding: 12rem 12rem 12rem;

        &::before {
            content: url(../images/illustration-editor-desktop.svg);
            position: absolute ;
            top: 50%;
            transform: translateY(-50%);
            right: -10%;
            z-index: 2;
        }

    }
}