.footer {
    background-color: var(--very-dark-black-blue);
    border-radius: 0 7rem 0 0;
    padding: 5rem 0 4rem;
    margin: 0;
    
    text-align: center;
    
    &__logo {
        margin: 0 auto;
    }
    
    &__list {
        list-style: none;
        padding: 0;

        &__title {
            margin: 2.5rem 0 1.5rem;
        }

        &__item {
            margin-top: .5rem;
            text-align: center;
            width: fit-content;
            margin: .75rem auto;
            line-height: 1;

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }

        
    }
}