/* ==========
   State 
========== */

.free {

    text-align: center;
    
    padding: 7rem 2.4rem 5rem;
    
    &__img {
        transform: scale(1.5);
        margin-bottom: 5rem;
    }

    &__title {
        margin-top: 2rem;
    }

    &__content {
        margin-top: 1.5rem;
    }
}