/* ==========
   State 
========== */

.free {

    text-align: center;
    
    padding: 7rem 0rem 5rem;
    
    &__img {
        margin: 0 auto;

    }

    &__title {
        margin-top: 2rem;
        padding: 0 2.4rem;
    }
    
    &__content {
        margin-top: 1.5rem;
        padding: 0 2.4rem;
    }
}