/* ==========
   State 
========== */

.state {
   height: 625px;
   position: relative;
   margin-top: 15rem;
   text-align: center;
   
   &__img {
      position: absolute;
      top: -27%;
      left: 50%;
      transform: translateX(-50%);
      max-width: 375px;
   }
   
   &__container {
      position: relative;
      padding: 0 2.2rem;
      background: linear-gradient(90deg, rgba(44,45,63,1) 0%, rgba(63,65,100,1) 100%); 
      height: 625px;
      border-radius: 0 7rem 0 7rem;
      z-index: -2;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      &::before {
         content: '';
         height: 100%;
         width: 100%;
         // min-width: 375px;
         background-image: url(/images/bg-pattern-circles.svg);
         background-size: 590px auto;
         background-position: center;
         background-repeat: no-repeat;
         position: absolute;
         top: -40%;
         left: -1%;
         z-index: -1;
      }

      &__title {
         margin-top: 8rem;
      }

      &__content {
         margin: 0 auto;
         margin-top: 1rem;
         max-width: 50ch;
      }
   }
}

@media (min-width: 1440px) {
   .state {

      height: 400px;
      margin: 0;

      &__img {
         top: -15%;
         left: 29%;
         transform: translateX(-50%);
         max-width: 100%;
      }

      &__container  {
         height: 400px;
         background: linear-gradient(90deg, rgba(44,45,63,1) 0%, rgba(63,65,100,1) 100%); 
         
         text-align: left;
         display: flex;
         flex-direction: column;
         align-items: flex-end;
         justify-content: center;

         &::before {
            top: -51%;
            left: -29%;
            z-index: -1;
            max-width: 100%;
            max-height: 100%;
            transform: scale(2);
         }

         &__title {
            margin: 0;
            margin-right: 9rem;
         }
         &__content {
            width: 58ch;
            margin-right: 8rem;
         }
      }
   }
}